<ion-toolbar color="dark" *ngIf="isLoad">
  <ion-icon routerLink="/playlist" slot="start" name="chevron-back-outline"></ion-icon>
  <ion-title>
    {{playlist.name}}
  </ion-title>
  <ion-icon name="filter-circle" (click)="openUpdateModal()" class="update-icon" slot="end"></ion-icon>
</ion-toolbar>

<ion-content>
  <ion-item-group class="playlist-banner" *ngIf="isLoad">
    <div id="playlist-image"></div>
  </ion-item-group>
  <ion-list *ngIf="isLoad" class="ion-padding-bottom ion-margin-bottom ion-padding-top">
    <ion-item lines="none"
              *ngFor="let item of playlist.songs; index as i">
      <ion-card *ngIf="item.id" color="dark">
        <ion-item lines="none" class="music-item">
          <ion-thumbnail slot="start">
            <ion-img [src]="item.imageUrl"></ion-img>
          </ion-thumbnail>
          <ion-label>{{item.title}}</ion-label>
          <ion-icon class="ion-margin-start" (click)="openPlayer(i)" color="danger"
                    name="play-circle-outline"></ion-icon>
        </ion-item>
      </ion-card>
    </ion-item>
  </ion-list>
  <ion-item color="none" class="ion-margin-bottom"></ion-item>
</ion-content>
