:host{
  display: contents;
}

ion-item{
  margin-top: 10%;
}

ion-card{
  width: 90%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

ion-toggle {
  background-color: red;
  border-radius: 30px;
  margin-right: auto;
  --size: 40px;
}

ion-list{
  background-color: transparent;
}

