<ion-card class="ion-padding" color="dark">
  <ion-card-title class="ion-margin-top ion-margin-bottom">Müzik Çalar Arka Fon Ayarı</ion-card-title>
  <ion-item lines="none" color="dark">
    <ion-img  src="assets/images/mini-player-option-1.png"></ion-img>
    <ion-checkbox mode="ios" color="danger"></ion-checkbox>
  </ion-item>
  <ion-item lines="none" color="dark">
    <ion-img  src="assets/images/mini-player-option-1.png"></ion-img>
    <ion-checkbox mode="ios" color="danger"></ion-checkbox>
  </ion-item>
  <ion-item lines="none" color="dark">
    <ion-img  src="assets/images/mini-player-option-1.png"></ion-img>
    <ion-checkbox mode="ios" color="danger"></ion-checkbox>
  </ion-item>
  <ion-item  lines="none" color="dark">
    <ion-img  src="assets/images/mini-player-option-2.png"></ion-img>
    <ion-checkbox mode="ios" color="danger"></ion-checkbox>
  </ion-item>
</ion-card>
