:host{
  display: contents;
}

ion-checkbox {
  --size: 40px;
  margin-right: auto;
}
ion-img{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  height: auto;
}
ion-item{
  margin-top: 10%;
}
ion-card{
  width: 90%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
