:host {
  display: contents;
}

#bg{
  z-index: 5;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

ion-toolbar {
  z-index: 10;
  --background: transparentize() !important;

  ion-item {
    --background: transparentize();
  }
}

ion-content {
  z-index: 6;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  --background: transparentize() !important;

  ion-card {
    --background: transparentize() !important;
    display: block;
    text-align: center;
    padding: 10px;
    box-shadow: none;
    ion-range{
      --bar-height: 5px;
      --knob-size: 30px;
      --bar-border-radius: 20px;
    }

    ion-card-header {
      ion-img {
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        height: auto;
      }
    }

    ion-card-title {
      ion-item {
        --background: transparentize();
        text-align: center;

        ion-label {
          font-size: large;
          color: white;
        }
      }
    }


    ion-item-group {
      display: flex;
      justify-content: center;
      align-items: center;

      ion-icon {
        margin-left: auto;
        margin-right: auto;
        font-size: xx-large;
      }
    }


  }
}

.actions {
  margin-top: auto !important;
}

.timers {
  width: 100%;
  --background: transparentize();

  .current {
    margin-right: auto;
  }

  .end {
    margin-left: auto;
  }

  ion-item {
    color: white;
    --background: transparentize();
  }
}


