:host{
  display: contents;
}

ion-toggle {
  background-color: crimson;
  margin-left: auto;
  width: 60% !important;
  border-radius: 30px;
  --size: 100%;
}
ion-img::part(image){
  background-color: #222222;
  width: 75%;
  border-radius: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
  height: auto;
}
ion-item{
  --background: transparentize();
  margin-top: 10%
}
ion-card{
  box-shadow: none !important;
  --background: transparentize();
  width: 90%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
