:host{
  display: contents;
}

ion-checkbox {
  width: 30%;
  height: auto;
  margin-right: auto;
}
ion-img::part(image){
  background-color: #222222;
  width: 70%;
  border-radius: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
  margin-right: auto;
  height: auto;
}
ion-item{
  --background: transparentize();
  margin-top: 10%
}
ion-card{
  box-shadow: none !important;
  --background: transparentize();
  width: 90%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
