<ion-tabs>
  <ion-tab-bar color="dark" slot="bottom">
    <ion-tab-button tab="categories">
      <ion-icon name="flash"></ion-icon>
    </ion-tab-button>


    <ion-tab-button tab="musics">
      <ion-icon name="musical-notes"></ion-icon>
    </ion-tab-button>


    <ion-tab-button tab="search">
      <ion-icon style="font-size: xx-large" name="add-circle"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="playlist">
      <ion-icon name="library"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="build"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
